<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_Core>
            <version>1.0.0</version>
        </Braspag_Core>
    </modules>
    <global>
        <models>
            <braspag_core>
                <class>Braspag_Core_Model</class>
                <resourceModel>braspag_core_resource</resourceModel>
            </braspag_core>
            <braspag_core_resource>
                <class>Braspag_Core_Model_Resource</class>
            </braspag_core_resource>
        </models>
        <resources>
            <braspag_core_setup>
                <setup>
                    <module>Braspag_Core</module>
                    <class>Braspag_Core_Model_Resource_Setup</class>
                </setup>
            </braspag_core_setup>
        </resources>
        <blocks>
            <braspag_core>
                <class>Braspag_Core_Block</class>
            </braspag_core>
        </blocks>
        <helpers>
            <braspag_core>
                <class>Braspag_Core_Helper</class>
            </braspag_core>
        </helpers>
        <payment>
            <groups>
                <braspag>Braspag</braspag>
            </groups>
        </payment>
        <events>
            <controller_front_init_before>
                <observers>
                    <braspag_core_autoloader>
                        <class>Braspag_Core_Model_Observer_Autoloader</class>
                        <method>controllerFrontInitBefore</method>
                        <type>singleton</type>
                    </braspag_core_autoloader>
                </observers>
            </controller_front_init_before>
        </events>
        <braspag_services>
            <core>
                <data>
                    <response>
                        <class>Braspag_Lib_Core_Data_ResponseService</class>
                    </response>
                </data>
                <auth>
                    <get_token>
                        <class>Braspag_Lib_Core_Auth_GetTokenService</class>
                    </get_token>
                </auth>
            </core>
        </braspag_services>
    </global>
	<frontend>
        <routers>
            <braspag_core>
                <use>standard</use>
                <args>
                    <module>Braspag_Core</module>
                    <frontName>braspag</frontName>
                </args>
            </braspag_core>
        </routers>  
        <layout>
            <updates>
                <braspag_core>
                    <file>braspag/core.xml</file>
                </braspag_core>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_Core>
                    <files>
                        <default>Braspag_Core.csv</default>
                    </files>
                </Braspag_Core>
            </modules>
        </translate>
	</adminhtml>
    <default>
    	<braspag_core>
            <license translate="title" module="braspag_core">
                <title>Braspag</title>
            </license>
    		<general>
    			<sandbox_flag>1</sandbox_flag>
    			<currency>BRL</currency>
    			<country>BRA</country>
    			<debug>1</debug>
    		</general>
            <auth>
                <config>
                    <sandbox>
                        <webservice_url>https://authsandbox.braspag.com.br/</webservice_url>
                    </sandbox>
                    <production>
                        <webservice_url>https://auth.braspag.com.br/</webservice_url>
                    </production>
                </config>
            </auth>
    	</braspag_core>
    </default>
</config>
