<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_ProtectedCard>
            <version>1.0.0</version>
        </Braspag_ProtectedCard>
    </modules>
    <global>
        <models>
            <braspag_protectedcard>
                <class>Braspag_ProtectedCard_Model</class>
                <resourceModel>braspag_protectedcard_resource</resourceModel>
            </braspag_protectedcard>
            <braspag_protectedcard_resource>
                <class>Braspag_ProtectedCard_Model_Resource</class>
                <entities>
                    <card>
                        <table>braspag_protected_card</table>
                    </card>
                </entities>
            </braspag_protectedcard_resource>
        </models>
        <resources>
            <braspag_protectedcard_setup>
                <setup>
                    <module>Braspag_ProtectedCard</module>
                    <class>Braspag_ProtectedCard_Model_Resource_Setup</class>
                </setup>
            </braspag_protectedcard_setup>
        </resources>
        <blocks>
            <braspag_protectedcard>
                <class>Braspag_ProtectedCard_Block</class>
            </braspag_protectedcard>
        </blocks>
        <helpers>
            <braspag_protectedcard>
                <class>Braspag_ProtectedCard_Helper</class>
            </braspag_protectedcard>
        </helpers>
    </global>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_ProtectedCard>
                    <files>
                        <default>Braspag_ProtectedCard.csv</default>
                    </files>
                </Braspag_ProtectedCard>
            </modules>
        </translate>
	</adminhtml>
    <default>
        <payment>
            <braspag_justclick translate="title" module="braspag_pagador">
                <sort_order>20</sort_order>
                <active>1</active>
                <model>braspag_protectedcard/method_creditCardJustClick</model>
                <title>CreditCard - Just Click</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <cvv_required>1</cvv_required>
                <block>
                    <form>
                        <class>Braspag_ProtectedCard_Block_Payment_Form_Method_CreditCardJustClick</class>
                        <composite></composite>
                    </form>
                    <info>
                        <class>Braspag_ProtectedCard_Block_Payment_Info_CreditCardJustClick</class>>
                    </info>
                </block>
            </braspag_justclick>
            <braspag_creditcard translate="title" module="braspag_pagador">
                <block>
                    <form>
                        <composite>
                            <use_just_click>
                                <class>Braspag_ProtectedCard_Block_Payment_Form_Method_CreditCard_UseJustClick</class>
                            </use_just_click>
                        </composite>
                    </form>
                    <info>
                        <composite>
                            <use_just_click>
                                <class>Braspag_ProtectedCard_Block_Payment_Info_CreditCard_UseJustClick</class>
                            </use_just_click>
                        </composite>
                    </info>
                </block>
            </braspag_creditcard>
        </payment>
        <braspag_pagador>
            <transaction>
                <command>
                    <authorize>
                        <credit_card>
                            <response>
                                <handler>
                                    <composite>
                                        <protected_card>
                                            <class>
                                                Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCard_Response_Handler_ProtectedCard
                                            </class>
                                        </protected_card>
                                    </composite>
                                </handler>
                            </response>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <card>
                                                    <composite>
                                                        <save_card>
                                                            <class>
                                                                Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_Card_SaveCard
                                                            </class>
                                                        </save_card>
                                                    </composite>
                                                </card>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                            </request>
                        </credit_card>
                        <credit_card_just_click>
                            <request>
                                <builder>
                                    <class>
                                        Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCardJustClick_Request_Builder
                                    </class>
                                    <composite>
                                        <order>
                                            <class>
                                                Braspag_Pagador_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Order
                                            </class>
                                        </order>
                                        <customer>
                                            <class>
                                                Braspag_Pagador_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Customer
                                            </class>
                                        </customer>
                                        <payment>
                                            <class>
                                                Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCardJustClick_Request_Builder_Payment
                                            </class>
                                            <composite>
                                                <provider>
                                                    <class>
                                                        Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCardJustClick_Request_Builder_Payment_Provider
                                                    </class>
                                                </provider>
                                                <card>
                                                    <class>
                                                        Braspag_ProtectedCard_Model_Transaction_Resource_Authorize_CreditCardJustClick_Request_Builder_Payment_Card
                                                    </class>
                                                </card>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                            </request>
                        </credit_card_just_click>
                    </authorize>
                </command>
            </transaction>
        </braspag_pagador>
    </default>
</config>
