<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_AntiFraud>
            <version>1.0.0</version>
        </Braspag_AntiFraud>
    </modules>
    <global>
        <models>
            <braspag_antifraud>
                <class>Braspag_AntiFraud_Model</class>
                <resourceModel>braspag_pagador_resource</resourceModel>
            </braspag_antifraud>
            <braspag_pagador_resource>
                <class>Braspag_AntiFraud_Model_Resource</class>
            </braspag_pagador_resource>
        </models>
        <resources>
            <braspag_antifraud_setup>
                <setup>
                    <module>Braspag_AntiFraud</module>
                    <class>Braspag_AntiFraud_Model_Resource_Setup</class>
                </setup>
            </braspag_antifraud_setup>
        </resources>
        <blocks>
            <braspag_antifraud>
                <class>Braspag_AntiFraud_Block</class>
            </braspag_antifraud>
        </blocks>
        <helpers>
            <braspag_antifraud>
                <class>Braspag_AntiFraud_Helper</class>
            </braspag_antifraud>
        </helpers>
    </global>

    <frontend>
        <routers>
            <braspag_antifraud>
                <use>standard</use>
                <args>
                    <module>Braspag_AntiFraud</module>
                    <frontName>braspag-antifraud</frontName>
                </args>
            </braspag_antifraud>
        </routers>
        <layout>
            <updates>
                <braspag_antifraud>
                    <file>braspag/antifraud.xml</file>
                </braspag_antifraud>
            </updates>
        </layout>
        <translate>
            <modules>
                <Braspag_AntiFraud>
                    <files>
                        <default>Braspag_AntiFraud.csv</default>
                    </files>
                </Braspag_AntiFraud>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_AntiFraud>
                    <files>
                        <default>Braspag_AntiFraud.csv</default>
                    </files>
                </Braspag_AntiFraud>
            </modules>
        </translate>
	</adminhtml>
    <default>
        <braspag_antifraud>
            <fingerprint>
                <merchant_id>braspag_webjump</merchant_id>
                <org_id>1snn5n9w</org_id>
                <domain>h.online-metrix.net</domain>
            </fingerprint>
        </braspag_antifraud>

        <braspag_pagador>
            <transaction>
                <observer>
                    <event>
                        <sales_order_payment_place_end>
                            <composite>
                                <anti_fraund>
                                    <class>
                                        Braspag_AntiFraud_Model_Transaction_Observer_Event_SalesOrderPaymentPlaceEnd_AntiFraud
                                    </class>
                                </anti_fraund>
                            </composite>
                        </sales_order_payment_place_end>
                    </event>
                </observer>
                <command>
                    <authorize>
                        <credit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <fraud_analysis>
                                                    <class>
                                                        Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis
                                                    </class>
                                                    <composite>
                                                        <sequence>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Sequence
                                                            </class>
                                                        </sequence>
                                                        <sequence_criteria>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_SequenceCriteria
                                                            </class>
                                                        </sequence_criteria>
                                                        <provider>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Provider
                                                            </class>
                                                        </provider>
                                                        <capture_on_low_risk>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_CaptureOnLowRisk
                                                            </class>
                                                        </capture_on_low_risk>
                                                        <void_on_high_risk>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_VoidOnHighRisk
                                                            </class>
                                                        </void_on_high_risk>
                                                        <total_order_amount>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_TotalOrderAmount
                                                            </class>
                                                        </total_order_amount>
                                                        <finger_print_id>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_FingerPrintId
                                                            </class>
                                                        </finger_print_id>
                                                        <browser>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Browser
                                                            </class>
                                                        </browser>
                                                        <cart>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Cart
                                                            </class>
                                                        </cart>
                                                        <merchant_defined_fields>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_MerchantDefinedFields
                                                            </class>
                                                        </merchant_defined_fields>
                                                        <shipping>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Shipping
                                                            </class>
                                                        </shipping>
                                                        <travel>
                                                            <class>
                                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_FraudAnalysis_Travel
                                                            </class>
                                                        </travel>
                                                    </composite>
                                                </fraud_analysis>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                            </request>
                            <response>
                                <processor>
                                    <composite>
                                        <anti_fraund>
                                            <class>
                                                Braspag_AntiFraud_Model_Transaction_Resource_Authorize_CreditCard_Response_Processor_AntiFraud
                                            </class>
                                        </anti_fraund>
                                    </composite>
                                </processor>
                            </response>
                        </credit_card>
                    </authorize>
                </command>
            </transaction>
        </braspag_pagador>
    </default>
</config>
