<?xml version="1.0"?>
<config>
    <sections>
        <braspag_antifraud translate="label" module="braspag_antifraud">
            <label>Anti Fraud</label>
            <tab>braspag</tab>
            <sort_order>400</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint translate="label,hint" module="braspag_antifraud">
                    <frontend_model>braspag_core/adminhtml_system_config_fieldset_hint</frontend_model>
                    <hint><![CDATA[The best fraud prevention solution for your store.<br /><a href="http:/www.webjump.com.br/braspag" target="_blank">Click here to know more.</a>]]></hint>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <general translate="label" module="braspag_antifraud">
                    <label>General Configuration</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>braspag_antifraud/general/active</config_path>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                    </fields>
                </general>
                <creditcard_transaction translate="label comment" module="braspag_antifraud">
                    <label>Credit Card Transactions</label>
                    <comment><![CDATA[Payment status to be applied after anti fraud analysis when payment type is Credit Card.]]></comment>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <reject_order_status translate="label">
                            <label>Reject Order Status</label>
                            <config_path>braspag_antifraud/creditcard_transaction/reject_order_status</config_path>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>braspag_antifraud/source_status_review</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reject_order_status>
                        <review_order_status translate="label">
                            <label>Review Order Status</label>
                            <config_path>braspag_antifraud/creditcard_transaction/review_order_status</config_path>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>braspag_antifraud/source_status_review</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </review_order_status>
                    </fields>
                </creditcard_transaction>
                <creditcard_justclick_transaction translate="label comment" module="braspag_antifraud">
                    <label>Credit Card Just Click Transactions</label>
                    <comment><![CDATA[Payment status to be applied after anti fraud analysis when payment type is Credit Card JustClick.]]></comment>
                    <sort_order>350</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <reject_order_status translate="label">
                            <label>Reject Order Status</label>
                            <config_path>braspag_antifraud/creditcard_justclick_transaction/reject_order_status</config_path>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>braspag_antifraud/source_status_review</source_model>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reject_order_status>
                        <review_order_status translate="label">
                            <label>Review Order Status</label>
                            <config_path>braspag_antifraud/creditcard_justclick_transaction/review_order_status</config_path>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>braspag_antifraud/source_status_review</source_model>
                            <sort_order>33</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </review_order_status>
                    </fields>
                </creditcard_justclick_transaction>
                <fingerprint translate="label,comment" module="braspag_antifraud">
                    <label>Finger Print</label>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[Identifier used to cross informations obtained by the browser of the internet user, with the data sent for analysis.]]></comment>
                    <fields>
                        <org_id translate="label,comment">
                            <label>Org Id</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <config_path>braspag_antifraud/fingerprint/org_id</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </org_id>
                        <merchant_id translate="label">
                            <label>Merchant Id</label>
                            <frontend_type>text</frontend_type>
                            <config_path>braspag_antifraud/fingerprint/merchant_id</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_id>
                        <use_order_id_to_figerprint translate="label,comment">
                            <label>Use Order ID to Fingerprint</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>braspag_antifraud/fingerprint/use_order_id_to_figerprint</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_order_id_to_figerprint>
                    </fields>
                </fingerprint>
                <options translate="label,comment">
                    <label>Options</label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment></comment>
                    <fields>
                        <sequence translate="label,comment">
                            <label>Sequence</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspag_antifraud/source_sequence</source_model>
                            <config_path>braspag_antifraud/options/sequence</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Tipo de Fluxo para realização da análise de fraude.</br>Primeiro Analise (Analyse First) </br>Primeiro Autorização (Authorize First)]]></comment>
                        </sequence>
                        <sequence_criteria translate="label,comment">
                            <label>Sequence Criteria</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspag_antifraud/source_sequenceCriteria</source_model>
                            <config_path>braspag_antifraud/options/sequence_criteria</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Critério do fluxo</br>On Success - Só realiza a analise se tiver sucesso na transação.</br>Always - Sempre realiza a analise ]]></comment>
                        </sequence_criteria>
                        <capture_on_low_risk translate="label,comment">
                            <label>Capture On Low Risk</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>braspag_antifraud/options/capture_on_low_risk</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Identifica se a autorização deve ser com captura automática quando o risco de fraude for considerado baixo (Accept). Em casos de Reject ou Review, o fluxo permanece o mesmo, ou seja, a captura acontecerá conforme o valor especificado no parâmetro "Capture". Para a utilização deste parâmetro, a sequência do fluxo de análise de risco deve ser obrigatoriamente "AuthorizeFirst". Por depender do resutlado de análise de risco, este parâmetro só terá efeito quando o serviço de Antifraude for contratado.]]></comment>
                        </capture_on_low_risk>
                        <void_on_high_risk translate="label,comment">
                            <label>Void On High Risk</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <config_path>braspag_antifraud/options/void_on_high_risk</config_path>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Identifica se o estorno deve acontecer automaticamente quando o risco de fraude for considerado alto (Reject). Em casos de Accept ou Review, o fluxo permanece o mesmo, ou seja, o estorno deve ser feito manualmente. Para a utilização deste parâmetro, a sequência do fluxo de análise de risco deve ser obrigatoriamente "AuthorizeFirst". Por depender do resutlado de análise de risco, este parâmetro só terá efeito quando o serviço de Antifraude for contratado.]]></comment>
                        </void_on_high_risk>
                    </fields>
                </options>
                <mdd translate="label,comment">
                    <label>MDD's</label>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment></comment>
                    <fields>
                        <fetch_self_shipping_method translate="label,comment">
                            <label>Customer fetch self Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allmethods</source_model>
                            <config_path>braspag_antifraud/mdd/fetch_self_shipping_method</config_path>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </fetch_self_shipping_method>
                        <store_code_to_fetch_self translate="label,comment">
                            <label>Store Code From Customer Fetch Self</label>
                            <frontend_type>text</frontend_type>
                            <config_path>braspag_antifraud/mdd/store_code_to_fetch_self</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </store_code_to_fetch_self>
                        <vertical_segment translate="label,comment">
                            <label>Vertical Segment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>braspag_antifraud/source_verticalSegment</source_model>
                            <config_path>braspag_antifraud/mdd/vertical_segment</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </vertical_segment>
                        <store_identity translate="label,comment">
                            <label>Store Identity (CNPJ)</label>
                            <frontend_type>text</frontend_type>
                            <config_path>braspag_antifraud/mdd/store_identity</config_path>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </store_identity>
                        <category_attribute_code translate="label,comment">
                            <label>Category Attribute Code</label>
                            <frontend_type>text</frontend_type>
                            <config_path>braspag_antifraud/mdd/category_attribute_code</config_path>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[]]></comment>
                        </category_attribute_code>
                    </fields>
                </mdd>
            </groups>
        </braspag_antifraud>
    </sections>
</config>