<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_Auth3ds20>
            <version>1.0.0</version>
        </Braspag_Auth3ds20>
    </modules>
    <global>
        <models>
            <braspag_auth3ds20>
                <class>Braspag_Auth3ds20_Model</class>
                <resourceModel>braspag_pagador_resource</resourceModel>
            </braspag_auth3ds20>
            <braspag_pagador_resource>
                <class>Braspag_Auth3ds20_Model_Resource</class>
            </braspag_pagador_resource>
        </models>
        <resources>
            <braspag_auth3ds20_setup>
                <setup>
                    <module>Braspag_Auth3ds20</module>
                    <class>Braspag_Auth3ds20_Model_Resource_Setup</class>
                </setup>
            </braspag_auth3ds20_setup>
        </resources>
        <blocks>
            <braspag_auth3ds20>
                <class>Braspag_Auth3ds20_Block</class>
            </braspag_auth3ds20>
        </blocks>
        <helpers>
            <braspag_auth3ds20>
                <class>Braspag_Auth3ds20_Helper</class>
            </braspag_auth3ds20>
        </helpers>
        <braspag_services>
            <auth3ds20>
                <auth>
                    <get_token>
                        <class>Braspag_Lib_Mpi_Auth_GetTokenService</class>
                    </get_token>
                </auth>
            </auth3ds20>
        </braspag_services>
    </global>
	<frontend>
        <routers>
            <braspag_auth3ds20>
                <use>standard</use>
                <args>
                    <module>Braspag_Auth3ds20</module>
                    <frontName>braspag-auth3ds20</frontName>
                </args>
            </braspag_auth3ds20>
        </routers>  
        <layout>
            <updates>
                <braspag_auth3ds20>
                    <file>braspag/auth3ds20.xml</file>
                </braspag_auth3ds20>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_Auth3ds20>
                    <files>
                        <default>Braspag_Auth3ds20.csv</default>
                    </files>
                </Braspag_Auth3ds20>
            </modules>
        </translate>
	</adminhtml>
    <default>
    	<braspag_auth3ds20>
            <mpi>
                <config>
                    <sandbox>
                        <webservice_url>https://mpisandbox.braspag.com.br/</webservice_url>
                    </sandbox>
                    <production>
                        <webservice_url>https://mpi.braspag.com.br/</webservice_url>
                    </production>
                </config>
            </mpi>
        </braspag_auth3ds20>

        <braspag_pagador>
            <transaction>
                <command>
                    <authorize>
                        <credit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <external_authentication>
                                                    <class>
                                                        Braspag_Auth3ds20_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_ExternalAuthentication
                                                    </class>
                                                </external_authentication>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                            </request>
                        </credit_card>
                        <debit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <external_authentication>
                                                    <class>
                                                        Braspag_Auth3ds20_Model_Transaction_Resource_Authorize_DebitCard_Request_Builder_Payment_ExternalAuthentication
                                                    </class>
                                                </external_authentication>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                            </request>
                        </debit_card>
                    </authorize>
                </command>
            </transaction>
        </braspag_pagador>
    </default>
</config>
