<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_PaymentSplit>
            <version>1.0.0</version>
        </Braspag_PaymentSplit>
    </modules>
    <global>
        <models>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Model</class>
                <resourceModel>braspag_paymentsplit_resource</resourceModel>
            </braspag_paymentsplit>
            <braspag_paymentsplit_resource>
                <class>Braspag_PaymentSplit_Model_Resource</class>
                <entities>
                    <payment_split>
                        <table>braspag_payment_split</table>
                    </payment_split>
                    <payment_split_item>
                        <table>braspag_payment_split_item</table>
                    </payment_split_item>
                </entities>
            </braspag_paymentsplit_resource>
        </models>
        <resources>
            <braspag_paymentsplit_setup>
                <setup>
                    <module>Braspag_PaymentSplit</module>
                    <class>Braspag_PaymentSplit_Model_Resource_Setup</class>
                </setup>
            </braspag_paymentsplit_setup>
        </resources>
        <blocks>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Block</class>
            </braspag_paymentsplit>
        </blocks>
        <helpers>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Helper</class>
            </braspag_paymentsplit>
        </helpers>
        <braspag_services>
            <split>
                <transaction_post>
                    <send>
                        <class>Braspag_Lib_Split_TransactionPost_SendService</class>
                    </send>
                </transaction_post>
            </split>
        </braspag_services>
    </global>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_PaymentSplit>
                    <files>
                        <default>Braspag_PaymentSplit.csv</default>
                    </files>
                </Braspag_PaymentSplit>
            </modules>
        </translate>
	</adminhtml>
    <crontab>
        <jobs>
            <braspag_splitpayment_transaction_post>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run>
                    <model>braspag_paymentsplit/cron_paymentSplitTransactionPost::execute</model>
                </run>
            </braspag_splitpayment_transaction_post>
        </jobs>
    </crontab>
    <default>
        <braspag_splitpayment>
            <api>
                <config>
                    <sandbox>
                        <webservice_url>https://splitsandbox.braspag.com.br/</webservice_url>
                    </sandbox>
                    <production>
                        <webservice_url>https://split.braspag.com.br/</webservice_url>
                    </production>
                </config>
            </api>
        </braspag_splitpayment>
        <braspag_pagador>
            <transaction>
                <command>
                    <authorize>
                        <credit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <do_split>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_DoSplit
                                                    </class>
                                                </do_split>
                                                <split_payment>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_SplitPayments
                                                    </class>
                                                </split_payment>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </request>
                            <response>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Response_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </response>
                        </credit_card>
                        <debit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <do_split>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Builder_Payment_DoSplit
                                                    </class>
                                                </do_split>
                                                <split_payment>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Builder_Payment_SplitPayments
                                                    </class>
                                                </split_payment>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </request>
                            <response>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Response_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </response>
                        </debit_card>
                    </authorize>
                    <capture>
                        <credit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <split_payment>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Capture_CreditCard_Request_Builder_Payment_SplitPayments
                                                    </class>
                                                </split_payment>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Capture_CreditCard_Request_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </request>
                            <response>
                                <handler>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Capture_CreditCard_Response_Handler_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </handler>
                            </response>
                        </credit_card>
                    </capture>
                </command>
            </transaction>
        </braspag_pagador>
    </default>
</config>
