<?xml version="1.0"?>
<config>
    <modules>
        <Braspag_PaymentSplit>
            <version>1.0.0</version>
        </Braspag_PaymentSplit>
    </modules>
    <global>
        <models>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Model</class>
                <resourceModel>braspag_paymentsplit_resource</resourceModel>
            </braspag_paymentsplit>
            <braspag_paymentsplit_resource>
                <class>Braspag_PaymentSplit_Model_Resource</class>
                <entities>
                    <payment_split>
                        <table>braspag_payment_split</table>
                    </payment_split>
                    <payment_split_item>
                        <table>braspag_payment_split_item</table>
                    </payment_split_item>
                </entities>
            </braspag_paymentsplit_resource>
        </models>
        <resources>
            <braspag_paymentsplit_setup>
                <setup>
                    <module>Braspag_PaymentSplit</module>
                    <class>Braspag_PaymentSplit_Model_Resource_Setup</class>
                </setup>
            </braspag_paymentsplit_setup>
        </resources>
        <blocks>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Block</class>
            </braspag_paymentsplit>
        </blocks>
        <helpers>
            <braspag_paymentsplit>
                <class>Braspag_PaymentSplit_Helper</class>
            </braspag_paymentsplit>
        </helpers>
    </global>
	<adminhtml>
        <translate>
            <modules>
                <Braspag_PaymentSplit>
                    <files>
                        <default>Braspag_PaymentSplit.csv</default>
                    </files>
                </Braspag_PaymentSplit>
            </modules>
        </translate>
	</adminhtml>
    <default>
        <braspag_pagador>
            <transaction>
                <command>
                    <authorize>
                        <credit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <do_split>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_DoSplit
                                                    </class>
                                                </do_split>
                                                <split_payment>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Builder_Payment_SplitPayments
                                                    </class>
                                                </split_payment>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                                <processor>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Request_Processor_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </processor>
                            </request>
                            <response>
                                <processor>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_CreditCard_Response_Processor_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </processor>
                            </response>
                        </credit_card>
                        <debit_card>
                            <request>
                                <builder>
                                    <composite>
                                        <payment>
                                            <composite>
                                                <do_split>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Builder_Payment_DoSplit
                                                    </class>
                                                </do_split>
                                                <split_payment>
                                                    <class>
                                                        Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Builder_Payment_SplitPayments
                                                    </class>
                                                </split_payment>
                                            </composite>
                                        </payment>
                                    </composite>
                                </builder>
                                <processor>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Request_Processor_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </processor>
                            </request>
                            <response>
                                <processor>
                                    <composite>
                                        <payment_split>
                                            <class>
                                                Braspag_PaymentSplit_Model_Transaction_Resource_Authorize_DebitCard_Response_Processor_PaymentSplit
                                            </class>
                                        </payment_split>
                                    </composite>
                                </processor>
                            </response>
                        </debit_card>
                    </authorize>
                </command>
            </transaction>
        </braspag_pagador>
    </default>
</config>
