<?xml version="1.0"?>
<config>
    <modules>
        <Webjump_BraspagPagador>
            <version>1.2.1</version>
        </Webjump_BraspagPagador>
    </modules>
    <global>
        <models>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Model</class>
                <resourceModel>braspag_pagador_resource</resourceModel>
            </webjump_braspag_pagador>
            <braspag_pagador_resource>
                <class>Webjump_BraspagPagador_Model_Resource</class>
                <entities>
                    <justclick_card>
                        <table>customer_braspag_justclick_card</table>
                    </justclick_card>
                </entities>
            </braspag_pagador_resource>
        </models>
        <resources>
            <webjump_braspag_pagador_setup>
                <setup>
                    <module>Webjump_BraspagPagador</module>
                    <class>Webjump_BraspagPagador_Model_Resource_Setup</class>
                </setup>
            </webjump_braspag_pagador_setup>
        </resources>
        <blocks>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Block</class>
            </webjump_braspag_pagador>
        </blocks>
        <helpers>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Helper</class>
            </webjump_braspag_pagador>
        </helpers>
        <payment>
            <groups>
                <braspag>Braspag</braspag>
            </groups>
        </payment>
        <events>
            <controller_front_init_before>
                <observers>
                    <webjump_braspag_pagador_autoloader>
                        <class>Webjump_BraspagPagador_Model_Observer_Autoloader</class>
                        <method>controllerFrontInitBefore</method>
                        <type>singleton</type>
                    </webjump_braspag_pagador_autoloader>
                </observers>
            </controller_front_init_before>
            <sales_order_payment_place_end>
                <observers>
                    <webjump_braspag_pagador_sales_order_payment_place_end>
                        <class>webjump_braspag_pagador/observer_salesOrderPaymentPlaceEnd</class>
                        <method>processAntiFraudAnalysis</method>
                    </webjump_braspag_pagador_sales_order_payment_place_end>
                </observers>
            </sales_order_payment_place_end>
        </events>
		<fieldsets>
        	<sales_convert_quote_payment>
                <payment_request><to_order_payment>*</to_order_payment></payment_request>
                <authorized_total_paid><to_order_payment>*</to_order_payment></authorized_total_paid>
            </sales_convert_quote_payment>
        </fieldsets>
        <braspag_services>
            <core>
                <data>
                    <response>
                        <class>Webjump_BrasPag_Core_Data_ResponseService</class>
                    </response>
                </data>
            </core>
            <mpi>
                <auth>
                    <get_token>
                        <class>Webjump_BrasPag_Mpi_Auth_GetTokenService</class>
                    </get_token>
                </auth>
            </mpi>
            <pagador>
                <transaction>
                    <authorize>
                        <class>Webjump_BrasPag_Pagador_Transaction_AuthorizeService</class>
                    </authorize>
                    <capture>
                        <class>Webjump_BrasPag_Pagador_Transaction_CaptureService</class>
                    </capture>
                    <void>
                        <class>Webjump_BrasPag_Pagador_Transaction_VoidService</class>
                    </void>
                    <query>
                        <class>Webjump_BrasPag_Pagador_Transaction_QueryService</class>
                    </query>
                    <client>
                        <class>Webjump_BrasPag_Pagador_Transaction_ClientService</class>
                    </client>
                    <refund>
                        <class>Webjump_BrasPag_Pagador_Transaction_RefundService</class>
                    </refund>
                </transaction>
                <data>
                    <request>
                        <class>Webjump_BrasPag_Pagador_Data_RequestService</class>
                    </request>
                    <response>
                        <class>Webjump_BrasPag_Pagador_Data_ResponseService</class>
                    </response>
                </data>
            </pagador>
        </braspag_services>
    </global>
	<frontend>
        <translate>
            <modules>
                <Webjump_BraspagPagador>
                    <files>
                        <default>Webjump_Braspag.csv</default>
                    </files>
                </Webjump_BraspagPagador>
            </modules>
        </translate>
        <routers>
            <webjump_braspag_pagador>
                <use>standard</use>
                <args>
                    <module>Webjump_BraspagPagador</module>
                    <frontName>braspag_pagador</frontName>
                </args>
            </webjump_braspag_pagador>
        </routers>  
        <layout>
            <updates>
                <webjump_braspag_pagador>
                    <file>webjump/braspag_pagador.xml</file>
                </webjump_braspag_pagador>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Webjump_BraspagPagador>
                    <files>
                        <default>Webjump_Braspag.csv</default>
                    </files>
                </Webjump_BraspagPagador>
            </modules>
        </translate>
	</adminhtml>
    <default>
    	<payment>
            <webjump_braspag_cc translate="title" module="webjump_braspag_pagador">
                <active>0</active>
                <model>webjump_braspag_pagador/method_creditcard</model>
                <title>Credit Card</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <justclick_active>1</justclick_active>
            </webjump_braspag_cc>
            <webjump_braspag_justclick translate="title" module="webjump_braspag_pagador">
                <active>0</active>
                <model>webjump_braspag_pagador/method_justclick</model>
                <title>JustClick</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <cvv_required>1</cvv_required>
            </webjump_braspag_justclick>
 			<webjump_braspag_dc translate="title" module="webjump_braspag_pagador">
    			<active>0</active>
                <model>webjump_braspag_pagador/method_debitcard</model>
                <title>Debit Card</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <payment_button_label>Click here to pay your order</payment_button_label>
			</webjump_braspag_dc>
			<webjump_braspag_boleto translate="title,payment_instructions,billet_instructions" module="webjump_braspag_pagador">
    			<active>0</active>
                <model>webjump_braspag_pagador/method_billet</model>
                <title>Boleto Bancário</title>
                <group>braspag</group>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <payment_instructions>Pagável em qualquer agência bancária ou bankline até a data do vencimento.</payment_instructions>
                <payment_button_label>Clique aqui para imprimir o boleto</payment_button_label>
                <billet_instructions><![CDATA[Sr. Caixa, não conceder desconto
Não receber após o vencimento]]></billet_instructions>
                <billet_expiration_date>1</billet_expiration_date>
			</webjump_braspag_boleto>
    	</payment>
    	<webjump_braspag_pagador>
            <license translate="title" module="webjump_braspag_pagador">
                <title>Braspag</title>
            </license>
    		<general>
    			<sandbox_flag>1</sandbox_flag>
    			<currency>BRL</currency>
    			<country>BRA</country>
    			<debug>1</debug>
    		</general>
    		<status_update>
                <order_status_paid>processing</order_status_paid>
                <order_status_pending_payment>pending_payment</order_status_pending_payment>
    			<allowed_ips>209.134.55.130</allowed_ips>
    		</status_update>
			<transaction>
				<config>
					<sandbox>
						<webservice_namespace>https://apisandbox.braspag.com.br/</webservice_namespace>
					</sandbox>
					<production>
						<webservice_namespace>https://api.braspag.com.br/</webservice_namespace>
					</production>
                </config>
            </transaction>
            <mpi>
                <config>
                    <sandbox>
                        <webservice_namespace>https://mpisandbox.braspag.com.br/</webservice_namespace>
                    </sandbox>
                    <production>
                        <webservice_namespace>https://mpi.braspag.com.br/</webservice_namespace>
                    </production>
                </config>
            </mpi>
            <pagadorquery>
                <config>
                    <sandbox>
                        <webservice_wsdl>https://apiquerysandbox.braspag.com.br/</webservice_wsdl>
                    </sandbox>
                    <production>
                        <webservice_wsdl>https://apiquery.braspag.com.br/</webservice_wsdl>
                    </production>
                </config>
            </pagadorquery>
    	</webjump_braspag_pagador>
        <webjump_braspag_antifraud>
            <fingerprint>
                <merchant_id>braspag_webjump</merchant_id>
                <org_id>1snn5n9w</org_id>
                <domain>h.online-metrix.net</domain>
            </fingerprint>
        </webjump_braspag_antifraud>
    </default>
</config>
