<?xml version="1.0"?>
<config>
    <modules>
        <Webjump_BraspagPagador>
            <version>1.2.0</version>
        </Webjump_BraspagPagador>
    </modules>
    <global>
        <models>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Model</class>
                <resourceModel>braspag_pagador_resource</resourceModel>
            </webjump_braspag_pagador>
            <braspag_pagador_resource>
                <class>Webjump_BraspagPagador_Model_Resource</class>
                <entities>
                    <justclick_card>
                        <table>customer_braspag_justclick_card</table>
                    </justclick_card>
                </entities>
            </braspag_pagador_resource>
        </models>
        <resources>
            <webjump_braspag_pagador_setup>
                <setup>
                    <module>Webjump_BraspagPagador</module>
                    <class>Webjump_BraspagPagador_Model_Resource_Setup</class>
                </setup>
            </webjump_braspag_pagador_setup>
        </resources>
        <blocks>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Block</class>
            </webjump_braspag_pagador>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Webjump_BraspagPagador_Block_Adminhtml_Sales_Order</sales_order_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <webjump_braspag_pagador>
                <class>Webjump_BraspagPagador_Helper</class>
            </webjump_braspag_pagador>
        </helpers>
        <payment>
            <groups>
                <braspag>Braspag</braspag>
            </groups>
        </payment>
        <events>
            <controller_front_init_before>
                <observers>
                    <webjump_braspag_pagador_autoloader>
                        <class>Webjump_BraspagPagador_Model_Observer_Autoloader</class>
                        <method>controllerFrontInitBefore</method>
                        <type>singleton</type>
                    </webjump_braspag_pagador_autoloader >
                </observers>
            </controller_front_init_before>
            <webjump_braspag_antifraud_review_prepare_data_after>
            	<observers>
            		<webjump_braspag_pagador>
            			<class>webjump_braspag_pagador/observer_antifraud</class>
            			<method>reviewPrepareDataAfter</method>
            		</webjump_braspag_pagador>
            	</observers>
            </webjump_braspag_antifraud_review_prepare_data_after>
        </events>
		<fieldsets>
        	<sales_convert_quote_payment>
                <payment_request><to_order_payment>*</to_order_payment></payment_request>
                <authorized_total_paid><to_order_payment>*</to_order_payment></authorized_total_paid>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
	<frontend>
        <translate>
            <modules>
                <Webjump_BraspagPagador>
                    <files>
                        <default>Webjump_Braspag.csv</default>
                    </files>
                </Webjump_BraspagPagador>
            </modules>
        </translate>
        <routers>
            <webjump_braspag_pagador>
                <use>standard</use>
                <args>
                    <module>Webjump_BraspagPagador</module>
                    <frontName>braspag_pagador</frontName>
                </args>
            </webjump_braspag_pagador>
        </routers>  
        <layout>
            <updates>
                <webjump_braspag_pagador>
                    <file>webjump/braspag_pagador.xml</file>
                </webjump_braspag_pagador>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Webjump_BraspagPagador>
                    <files>
                        <default>Webjump_Braspag.csv</default>
                    </files>
                </Webjump_BraspagPagador>
            </modules>
        </translate>
	</adminhtml>
    <default>
    	<payment>
			<webjump_braspag_cc translate="title" module="webjump_braspag_pagador">
    			<active>0</active>
                <model>webjump_braspag_pagador/method_transaction_cc</model>
                <title>Credit Card</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <!--<installments_plan>0</installments_plan>-->
                <justclick_active>1</justclick_active>
			</webjump_braspag_cc>
            <webjump_braspag_justclick translate="title" module="webjump_braspag_pagador">
                <active>0</active>
                <model>webjump_braspag_pagador/method_transaction_justclick</model>
                <title>JustClick</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>processing</order_status>
                <!--<installments_plan>0</installments_plan>-->
                <cvv_required>1</cvv_required>
            </webjump_braspag_justclick>
            <!--<webjump_braspag_multi_ccboleto>-->
                <!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_transaction_multi_ccboleto</model>-->
                <!--<title>Credit Card + Boleto</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>authorize</payment_action>-->
                <!--<order_status>processing</order_status>-->
                <!--<installments_plan>0</installments_plan>-->
                <!--<cvv_required>1</cvv_required>-->
            <!--</webjump_braspag_multi_ccboleto>-->
            <!--<webjump_braspag_multi_cccc>-->
                <!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_transaction_multi_cccc</model>-->
                <!--<title>Two Credit Cards</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>authorize</payment_action>-->
                <!--<order_status>processing</order_status>-->
                <!--<installments_plan>0</installments_plan>-->
                <!--<cvv_required>1</cvv_required>-->
            <!--</webjump_braspag_multi_cccc>-->
 			<webjump_braspag_dc translate="title" module="webjump_braspag_pagador">
    			<active>0</active>
                <model>webjump_braspag_pagador/method_transaction_dc</model>
                <title>Dedit Card</title>
                <group>braspag</group>
                <payment_action>authorize</payment_action>
                <order_status>pending</order_status>
                <payment_button_label>Click here to pay your order</payment_button_label>
			</webjump_braspag_dc>
			<webjump_braspag_boleto translate="title,payment_instructions,boleto_instructions" module="webjump_braspag_pagador">
    			<active>0</active>
                <model>webjump_braspag_pagador/method_transaction_boleto</model>
                <title>Boleto Bancário</title>
                <group>braspag</group>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <payment_instructions>Pagável em qualquer agência bancária ou bankline até a data do vencimento.</payment_instructions>
                <payment_button_label>Clique aqui para imprimir o boleto</payment_button_label>
                <boleto_instructions><![CDATA[Sr. Caixa, não conceder desconto
Não receber após o vencimento]]></boleto_instructions>
                <boleto_expiration_date>1</boleto_expiration_date>
			</webjump_braspag_boleto>
			<!--<webjump_braspag_postindex translate="title,payment_instructions,payment_button_label" module="webjump_braspag_pagador">-->
    			<!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_post_index</model>-->
                <!--<title>Braspag</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>order</payment_action>-->
                <!--<order_status>pending</order_status>-->
                <!--<transaction_language>pt-BR</transaction_language>-->
                <!--<transaction_type>1</transaction_type>-->
                <!--<payment_instructions>After place order, you will be redirected to a safe environment. You may pay with credit card, debit card and boleto bancário. The store will not have access to your card numbers.</payment_instructions>-->
                <!--<payment_button_label>Click here if you are not redirected within 10 seconds...</payment_button_label>-->
                <!--<payment_redirect_info>You will be redirected to the Braspag website in a few seconds.</payment_redirect_info>-->
			<!--</webjump_braspag_postindex>-->
            <!--<webjump_braspag_post_passthru_cc>-->
                <!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_post_passthru_cc</model>-->
                <!--<title>Post Passthru Credit Card</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>order</payment_action>-->
                <!--<order_status>processing</order_status>-->
                <!--<installments_plan>0</installments_plan>-->
                <!--<installments_min_amount>0</installments_min_amount>-->
                <!--<justclick_active>1</justclick_active>-->
            <!--</webjump_braspag_post_passthru_cc>-->
            <!--<webjump_braspag_post_passthru_dc translate="title" module="webjump_braspag_pagador">-->
                <!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_post_passthru_dc</model>-->
                <!--<title>Post Passthru Dedit Card</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>order</payment_action>-->
                <!--<order_status>pending</order_status>-->
                <!--<payment_button_label>Click here to pay your order</payment_button_label>-->
                <!--<dctypes />-->
                <!--<allowspecific>0</allowspecific>-->
                <!--<sort_order />-->
            <!--</webjump_braspag_post_passthru_dc>-->
            <!--<webjump_braspag_post_passthru_boleto translate="title,payment_instructions,boleto_instructions" module="webjump_braspag_pagador">-->
                <!--<active>0</active>-->
                <!--<model>webjump_braspag_pagador/method_post_passthru_boleto</model>-->
                <!--<title>Post Passthru Boleto Bancário</title>-->
                <!--<group>braspag</group>-->
                <!--<payment_action>order</payment_action>-->
                <!--<order_status>pending</order_status>-->
                <!--<boleto_types />-->
                <!--<payment_button_label>Clique aqui para imprimir o boleto</payment_button_label>-->
                <!--<allowspecific>0</allowspecific>-->
                <!--<boleto_expiration_date>1</boleto_expiration_date>-->
                <!--<boleto_instructions>boleto instructions</boleto_instructions>-->
                <!--<sort_order />-->
            <!--</webjump_braspag_post_passthru_boleto>-->
    	</payment>
    	<webjump_braspag_pagador>
            <license translate="title" module="webjump_braspag_pagador">
                <title>Braspag</title>
            </license>
    		<general>
    			<sandbox_flag>1</sandbox_flag>
    			<currency>BRL</currency>
    			<country>BRA</country>
    			<debug>1</debug>
    		</general>
    		<status_update>
                <order_status_paid>processing</order_status_paid>
                <order_status_pending_payment>pending_payment</order_status_pending_payment>
    			<allowed_ips>209.134.55.130</allowed_ips>
    		</status_update>
			<transaction>
				<config>
					<sandbox>
						<!--<webservice_namespace>https://www.pagador.com.br/webservice/pagador</webservice_namespace>-->
						<webservice_namespace>https://apisandbox.braspag.com.br/</webservice_namespace>
						<!--<webservice_wsdl>https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					</sandbox>
					<production>
						<!--<webservice_namespace>https://www.pagador.com.br/webservice/pagador</webservice_namespace>-->
						<webservice_namespace>https://api.braspag.com.br/</webservice_namespace>
						<!--<webservice_wsdl>https://www.pagador.com.br/webservice/pagadorTransaction.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					</production>
                </config>
            </transaction>
            <mpi>
                <config>
                    <sandbox>
                        <webservice_namespace>https://mpisandbox.braspag.com.br/</webservice_namespace>
                    </sandbox>
                    <production>
                        <webservice_namespace>https://mpi.braspag.com.br/</webservice_namespace>
                    </production>
                </config>
            </mpi>
            <!--<generalservice>-->
            	<!--<config>-->
					<!--<sandbox>-->
						<!--<webservice_namespace>https://www.pagador.com.br/webservice/BraspagGeneralService</webservice_namespace>-->
						<!--<webservice_wsdl>https://transactionsandbox.pagador.com.br/braspaggeneralservice/braspaggeneralservice.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					<!--</sandbox>-->
					<!--<production>-->
						<!--<webservice_namespace>https://www.pagador.com.br/webservice/BraspagGeneralService</webservice_namespace>-->
						<!--<webservice_wsdl>https://www.pagador.com.br/braspaggeneralservice/braspaggeneralservice.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					<!--</production>-->
            	<!--</config>-->
            <!--</generalservice>-->
            <pagadorquery>
            	<config>
					<!--<sandbox>-->
						<!--<webservice_namespace>https://www.pagador.com.br/query/pagadorquery</webservice_namespace>-->
						<!--<webservice_wsdl>https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					<!--</sandbox>-->
					<!--<production>-->
						<!--<webservice_namespace>https://www.pagador.com.br/query/pagadorquery</webservice_namespace>-->
						<!--<webservice_wsdl>https://www.pagador.com.br/services/pagadorQuery.asmx?wsdl</webservice_wsdl>-->
						<!--<webservice_version>1.2</webservice_version>-->
					<!--</production>-->
            	</config>
            </pagadorquery>
    	</webjump_braspag_pagador>
    </default>

</config>
