<?xml version="1.0"?>
<config>
    <modules>
        <Webjump_BraspagAntifraud>
            <version>1.2.0</version>
        </Webjump_BraspagAntifraud>
    </modules>
    <global>
        <blocks>
            <webjump_braspag_antifraud>
                <class>Webjump_BraspagAntifraud_Block</class>
            </webjump_braspag_antifraud>
        </blocks>
        <helpers>
            <webjump_braspag_antifraud>
                <class>Webjump_BraspagAntifraud_Helper</class>
            </webjump_braspag_antifraud>
        </helpers>  
        <models>
            <webjump_braspag_antifraud>
                <class>Webjump_BraspagAntifraud_Model</class>
                <resourceModel>webjump_braspag_antifraud_resource</resourceModel>
            </webjump_braspag_antifraud>
            <webjump_braspag_antifraud_resource>
                <class>Webjump_BraspagAntifraud_Model_Resource</class>
                <entities>
                    <devicefingerprint>
                        <table>webjump_braspag_antifraud_devicefingerprint</table>
                    </devicefingerprint>
                    <antifraud>
                        <table>webjump_braspag_antifraud</table>
                    </antifraud>
                    <antifraud_detail>
                        <table>webjump_braspag_antifraud_detail</table>
                    </antifraud_detail>
                    <mdd>
                    	<table>webjump_braspag_antifraud_mdd</table>
                    </mdd>
                </entities>
            </webjump_braspag_antifraud_resource>
        </models>
        <resources>
            <webjump_braspag_antifraud_setup>
                <setup>
                    <module>Webjump_BraspagAntifraud</module>
                </setup>
            </webjump_braspag_antifraud_setup>
        </resources>
        <events>
        	<sales_order_place_before>
				<observers>
					<webjump_braspag_antifraud_mdd>
						<class>webjump_braspag_antifraud/observer_mdd</class>
						<method>salesOrderPlaceBefore</method>
					</webjump_braspag_antifraud_mdd>
				</observers>
        	</sales_order_place_before>
			<sales_order_place_after>
				<observers>
					<webjump_braspag_antifraud_devicefingerprint>
						<class>webjump_braspag_antifraud/observer</class>
						<method>saveDeviceFingerPrintSessionId</method>
					</webjump_braspag_antifraud_devicefingerprint>
					<webjump_braspag_antifraud_mdd>
						<class>webjump_braspag_antifraud/observer_mdd</class>
						<method>salesOrderPlaceAfter</method>
					</webjump_braspag_antifraud_mdd>
					<webjump_braspag_antifraud>
						<class>webjump_braspag_antifraud/observer</class>
						<method>salesOrderPlaceAfter</method>
					</webjump_braspag_antifraud>
				</observers>
			</sales_order_place_after>
            <webjump_braspag_antifraud_review_prepare_data_after>
            	<observers>
            		<webjump_braspag_antifraud>
            			<class>webjump_braspag_antifraud/observer_mdd</class>
            			<method>reviewPrepareDataAfter</method>
            		</webjump_braspag_antifraud>
            	</observers>
            </webjump_braspag_antifraud_review_prepare_data_after>
		</events>
    </global>
	<frontend>
        <translate>
            <modules>
                <Webjump_BraspagAntifraud>
                    <files>
                        <default>Webjump_BraspagAntifraud.csv</default>
                        <alternative>Webjump_Braspag_InternationalInfoCodes.csv</alternative>
                    </files>
                </Webjump_BraspagAntifraud>
            </modules>
        </translate>
        <layout>
            <updates>
                <webjump_braspag_antifraud>
                    <file>webjump/braspag_antifraud.xml</file>
                </webjump_braspag_antifraud>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Webjump_BraspagAntifraud>
                    <files>
                        <default>Webjump_BraspagAntifraud.csv</default>
                        <alternative>Webjump_Braspag_InternationalInfoCodes.csv</alternative>
                    </files>
                </Webjump_BraspagAntifraud>
            </modules>
        </translate>
        <layout>
            <updates>
                <webjump_braspag_antifraud>
                    <file>webjump/braspag_antifraud.xml</file>
                </webjump_braspag_antifraud>
            </updates>
        </layout>
		<events>
			<adminhtml_widget_container_html_before>
				<observers>
					<webjump_braspag_antifraud>
						<class>webjump_braspag_antifraud/observer</class>
						<type>singleton</type>
						<method>adminhtmlWidgetContainerHtmlBefore</method>
					</webjump_braspag_antifraud>
				</observers>
			</adminhtml_widget_container_html_before>
			<core_block_abstract_to_html_after>
				<observers>
					<webjump_braspag_antifraud>
						<class>webjump_braspag_antifraud/observer</class>
						<type>singleton</type>
						<method>coreBlockAbstractToHtmlAfter</method>
					</webjump_braspag_antifraud>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
        <layout>
            <updates>
                <webjump_braspag_antifraud>
                    <file>webjump/braspag_antifraud.xml</file>
                </webjump_braspag_antifraud>
            </updates>
        </layout>
	</adminhtml>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <webjump_braspag_antifraud before="Mage_Adminhtml">Webjump_BraspagAntifraud_Adminhtml</webjump_braspag_antifraud>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
    <default>
    	<webjump_braspag_antifraud>
            <license translate="title" module="webjump_braspag_antifraud">
                <title>Braspag Antifraud / Webjump</title>
            </license>
    		<general>
    			<sandbox_flag>1</sandbox_flag>
    			<decision_manager>1</decision_manager>
    			<debug>1</debug>
    		</general>
            <devicefingerprint>
            	<merchant_id_demo>braspag_webjump</merchant_id_demo>
            	<org_id_test>1snn5n9w</org_id_test>
            	<org_id>k8vif92e</org_id>
            	<domain_test>h.online-metrix.net</domain_test>
            	<domain>h.online-metrix.net</domain>
            </devicefingerprint>
            <configuration>
            	<taxvat_field>{{var order.customer_taxvat}}</taxvat_field>
            </configuration>
            <probe>
            	<update_interval>15</update_interval>
            </probe>
            <webservice>
            	<antifraud>
            		<url>
						<sandbox>https://homologacao.braspag.com.br/AntiFraudews/antifraud.asmx?wsdl</sandbox>
						<production>https://antifraude.braspag.com.br/AntiFraudews/antifraud.asmx?wsdl</production>
					</url>
					<timeout>15</timeout>
					<request_map>
						<fraudAnalysis>
							<request>
								<RequestId>{{var antifraud.guid}}</RequestId>
								<AccessKey>{{var antifraud.guid}}</AccessKey>
								<Version>{{var antifraud.version}}</Version>
								<AntiFraudSequenceType>{{var antifraud.getAntiFraudSequenceType()}}</AntiFraudSequenceType>
								<AntiFraudRequest>
									<BillToData>
										<City>{{var billingAddress.city}}</City>
										<Country>{{var billingAddress.country_id}}</Country>
										<CustomerId>{{var antifraud.document_taxvat}}</CustomerId>
										<DateOfBirth>{{var antifraud.customer_dob}}</DateOfBirth>
										<Email>{{var order.getCustomerEmail()}}</Email>
										<FirstName>{{var billingAddress.firstname}}</FirstName>
										<HttpBrowserCookiesAccepted>1</HttpBrowserCookiesAccepted>
										<IpAddress>{{var order.remote_ip}}</IpAddress>
										<LastName>{{var billingAddress.lastname}}</LastName>
										<PhoneNumber>{{var billingAddress.telephone}}</PhoneNumber>
										<PostalCode>{{var billingAddress.postcode}}</PostalCode>
										<State>{{var billingAddress.getRegionCode()}}</State>
										<Street1>{{var billingAddress.getStreet(1)}}, {{var billingAddress.getStreet(2)}}</Street1>
										<Street2>{{var billingAddress.getStreet(3)}}</Street2>
									</BillToData>
									<ItemDataCollection>
										<ItemData>
											<GiftCategory>Yes</GiftCategory><!-- verificar -->
											<HostHedge>Normal</HostHedge><!-- verificar -->
											<NonSensicalHedge>Normal</NonSensicalHedge><!-- verificar -->
											<ObscenitiesHedge>Normal</ObscenitiesHedge><!-- verificar -->
											<PhoneHedge>Normal</PhoneHedge><!-- verificar -->
											<TimeHedge>Normal</TimeHedge><!-- verificar -->
											<VelocityHedge>Normal</VelocityHedge><!-- verificar -->
											<ProductData>
												<Code>Default</Code><!-- verificar -->
												<Risk>Normal</Risk><!-- verificar -->
												<Name>{{var item.name}}</Name>
												<Sku>{{var item.sku}}</Sku>
												<Quantity>{{var item.qty_ordered}}</Quantity>
												<UnitPrice>{{var item.price_incl_tax}}</UnitPrice>
											</ProductData>
										</ItemData>
									</ItemDataCollection>
									<MerchantReferenceCode>{{var order.increment_id}}</MerchantReferenceCode>
									<PurchaseTotalsData>
										<Currency>{{var order.order_currency_code}}</Currency>
										<GrandTotalAmount>{{var order.grand_total}}</GrandTotalAmount>
									</PurchaseTotalsData>
									<ShipToData>
										<City>{{var shippingAddress.city}}</City>
										<Country>{{var shippingAddress.country_id}}</Country>
										<FirstName>{{var shippingAddress.firstname}}</FirstName>
										<LastName>{{var shippingAddress.lastname}}</LastName>
										<PhoneNumber>{{var shippingAddress.telephone}}</PhoneNumber>
										<PostalCode>{{var shippingAddress.postcode}}</PostalCode>
										<ShippingMethod>{{var antifraud.shipping_method}}</ShippingMethod>
										<State>{{var shippingAddress.getRegionCode()}}</State>
										<Street1>{{var shippingAddress.getStreet(1)}}, {{var shippingAddress.getStreet(2)}}</Street1>
										<Street2>{{var shippingAddress.getStreet(3)}}</Street2>
									</ShipToData>
									<DeviceFingerPrintId>{{var antifraud.device_finger_print_id}}</DeviceFingerPrintId>								
								</AntiFraudRequest>
								<MerchantId>{{var antifraud.merchant_id}}</MerchantId>
								<DocumentData>
									<Cpf>{{var antifraud.document_cpf}}</Cpf>
									<Cnpj>{{var antifraud.document_cnpj}}</Cnpj>
									<Other>{{var antifraud.document_other}}</Other>
								</DocumentData>
								</request>
						</fraudAnalysis>
						<updateStatus>
							<updateStatusRequest>
								<RequestId>{{var antifraud.guid}}</RequestId>
								<AccessKey>{{var antifraud.guid}}</AccessKey>
								<Version>{{var antifraud.version}}</Version>
								<MerchantId>{{var antifraud.merchant_id}}</MerchantId>
								<AntiFraudTransactionId>{{var antifraud.antifraud.antifraud_transaction_id}}</AntiFraudTransactionId>
								<NewStatus>{{var antifraud.new_status}}</NewStatus>
							</updateStatusRequest>
						</updateStatus>
						<updateReviewOrder>
							<request>
								<RequestId>{{var antifraud.guid}}</RequestId>
								<AccessKey>{{var antifraud.guid}}</AccessKey>
								<Version>{{var antifraud.version}}</Version>
								<MerchantId>{{var antifraud.merchant_id}}</MerchantId>
								<AntiFraudTransactionId>{{var antifraud.antifraud.antifraud_transaction_id}}</AntiFraudTransactionId>
				            </request>
						</updateReviewOrder>
					</request_map>
				</antifraud>
            </webservice>
    	</webjump_braspag_antifraud>
    </default>
	<crontab>
		<jobs>
			<webjump_braspag_antifraud_probe>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>webjump_braspag_antifraud/cron::runProbe</model>
				</run>
			</webjump_braspag_antifraud_probe>
		</jobs>
	</crontab>
</config>
